.navBarContainer{
  margin-top: 30px;
  background-color:#f2f2f2;
  height:60px
}
.addressSearch{
  margin-left: 348px;
  width:600px;
  margin-right:19px;
  height: 36px;
  border-radius: 7px;
}


.bold{
  font-weight: bold;
}

.type-text{
  cursor: pointer;
}